.content
    .content__left
        .page__title
            +svg('page__title-bg', 'about_header')
            .page__title-line
            h1.page__title-text Обо мне
            .page__title-line
        .page__about
            .page__about-avatar
                img(src="~img/avatar2.jpg", alt="avatar")
            .page__about-text
                .page__about-title
                    .page__title-line
                    h3.page__title-text Кто я
                    .page__title-line
                .page__about-desc
                    p.page__about-paragraph Доброго времени суток, меня зовут Роман. Мне 23 года. Интересуюсь разработкой Web сайтов, Web приложений, приложений для Mac и ПО для микроконтроллеров. Для меня программирование не просто трудовой процесс, а еще творчество и увлечение.


    .content__right
        .page__skills-title
            .page__title-line
            h2.page__title-text Чем я могу быть вам полезен
            .page__title-line
        .page__skills-desc Больше всего меня привлекает Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.

        .skills
            .skills__row(
                v-for='skillType in skillTypes'
                :class='skillType')
                .skills__title {{skillType.name}}
                .skill(
                    v-for='skill in skills'
                    v-if='skill.type === skillType.type'
                    :data-pct='skill.percents' 
                    :name='skill.name')
                    +skillCircle()
