.content
    .article__list-wrapper
        ul.article__list
            //- li(class='article__item article__item--active')
            //-     a(class='article__link' href='#1') Самое важное в SASS
            //- +listItem('Приемы в верстке, без которых не обходится ни один сайт', 'article', '#2')
            //- +listItem('Какая-то текст-рыба', 'article', '#3')
            //- +listItem('Как научиться мыслить образами, используя визуальные аналогии и многое другое', 'article', '#4')
            li(class='article__item' v-for='article in articles')
                a(class='article__link' 
                :href='article._id') {{article.title}}
            span.article__list-circle

    .articles
        article.article(:id='"article"+article._id' v-for='article in articles')
            h3.article__title {{article.title}}
            .article__date {{article.date}}
            .article__text
                p.article__text-paragraph {{article.text}}


        //- article.article(id='article1')
        //-     h3.article__title Самое важное в SASS
        //-     .article__date 9 декабря 2017
        //-     .article__text
        //-         p.article__text-paragraph Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.

        //-         p.article__text-paragraph Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
        //-         .article__text-code
        //-             img(src="~img/code.jpg", alt="code" class="code")
        //- article.article(id='article2')
        //-     h3.article__title Приемы в верстке, без которых не обходится ни один сайт
        //-     .article__date 4 декабря 2017
        //-     .article__text
        //-         p.article__text-paragraph Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
        //-         p.article__text-paragraph Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
        
        //- article.article(id='article3')
        //-     h3.article__title Какая-то текст-рыба
        //-     .article__date 22 декабря 2017
        //-     .article__text
        //-         p.article__text-paragraph Каждый веб-разработчик знает, что такое текст-«рыба». Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов. Используется он веб-дизайнерами для вставки на интернет-страницы и демонстрации внешнего вида контента, просмотра шрифтов, абзацев, отступов и т.д. Так как цель применения такого текста исключительно демонстрационная, то и смысловую нагрузку ему нести совсем необязательно. Более того, нечитабельность текста сыграет на руку при оценке качества восприятия макета.
        //-         p.article__text-paragraph Самым известным «рыбным» текстом является знаменитый Lorem ipsum. Считается, что впервые его применили в книгопечатании еще в XVI веке. Своим появлением Lorem ipsum обязан древнеримскому философу Цицерону, ведь именно из его трактата «О пределах добра и зла» средневековый книгопечатник вырвал отдельные фразы и слова, получив текст-«рыбу», широко используемый и по сей день. Конечно, возникают некоторые вопросы, связанные с использованием Lorem ipsum на сайтах и проектах, ориентированных на кириллический контент – написание символов на латыни и на кириллице значительно различается.
        //-         p.article__text-paragraph И даже с языками, использующими латинский алфавит, могут возникнуть небольшие проблемы: в различных языках те или иные буквы встречаются с разной частотой, имеется разница в длине наиболее распространенных слов. Отсюда напрашивается вывод, что все же лучше использовать в качестве «рыбы» текст на том языке, который планируется использовать при запуске проекта. Сегодня существует несколько вариантов Lorem ipsum, кроме того, есть специальные генераторы, создающие собственные варианты текста на основе оригинального трактата, благодаря чему появляется возможность получить более длинный неповторяющийся набор слов.
        
        //- article.article(id='article4')
        //-             h3.article__title Как научиться мыслить образами, используя визуальные аналогии
        //-             .article__date 22 декабря 2017
        //-             .article__text
        //-                 p.article__text-paragraph Визуалы – это люди, которые, воспринимают большую часть информации с помощью зрения. Визуалы составляют примерно 60% населения нашей планеты (автор статьи, Анна Виталь, также входит в их число). Вы можете спросить: как же нам удается общаться с вами с помощью изображений? Все достаточно просто – для этой цели мы используем хорошо известные визуальные символы и аналогии. Ниже представлены некоторые из таких зрительных аналогий, начиная с наиболее простых и заканчивая самыми сложными. 
        //-                 img(src="~img/article4.png", alt="визуалы")