.info
    .info__links
        ul.info-pages
            +listItem('Мои работы', 'info-pages', '/works')
            +listItem('Обо мне', 'info-pages', '/about')
            +listItem('Блог', 'info-pages', '/blog')
            +listItem('Авторизация', 'info-pages', '/')
        ul.info-social
            +listItem('', 'info-social', 'https://vk.com/id_r0mashka', 'vk_round')
            +listItem('', 'info-social', 'https://github.com/RomaTur', 'github_round')
            +listItem('', 'info-social', 'https://twitter.com/RoMan_111', 'twitter_round')
    .info__desc
        .info__about Я веб-разработчик из Сарова, и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. 
        .info__credits © Роман Турусов | создано с любовью в LoftSchool | 2017
